@import "variables";

@font-face {
  font-family: Montserat;
  src: ('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
}

* {
  font-family: Montserat, sans-serif;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: pink;
  box-shadow: inset 0 0 6px $pink;
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.empty-btn {
  background-color: unset;
  border: none;
}

//Sidebar
.sidebar {
  height: 100vh;
  background-color: $pink;
  padding-top: 120px;

  .nav-item {
    margin-bottom: 72px;

    .nav-link {
      text-align: center;

      &.active-link {
        color: $purple;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 10%;
          bottom: 10%;
          left: 0;
          border: 2px solid #6749A5;
        }
      }
    }
  }

}

.dashboard {
  min-height: 100vh;
  background-color: $light;
  //padding: 64px 0 0 99px;
  padding: 5vw 0 0 6vw;

  .dashboard__header {
    margin-right: 6vw;
    //margin-bottom: 60px;
    margin-bottom: 5vw;
  }

  .dashboard__body {
    height: calc(100vh - 10vw - 56px);
    overflow: auto;
    //height: 78vh;
  }

  @media (max-width: 1099px) {
    .dashboard__body {
      height: calc(100vh - 10vw - 108px);
    }
  }
}

//navigation
.navigation {

  .nav-link {
    color: $dark;
    font-size: 24px;
    font-weight: 700;

    &.active-link {
      color: $purple;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 40%;
        right: 40%;
        bottom: -5px;
        border: 2px solid $purple;
      }
    }
  }
}

//POSTER
.poster {
  position: relative;
  margin-right: 6vw;
  margin-bottom: 60px;

  img {
    width: 100%
  }

  .poster__legend {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 3vw;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .action {
      img {
        width: 5vw;
      }
    }

  }
}